{{ 'form.css' | asset_url | stylesheet_tag }}

{% assign productId = product.id %}
{% assign shopName = shop.name %}
{% assign productName = product.title %}
{% assign producthandle= product.handle %}
{% assign metaRating = product.metafields.itgeeks_reviews.average_rating.value %}




<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Page Title</title>
</head>

<body>

<div id='review-section'>
    <div id='titlebar'>
        <h2 id='review-headline'></h2>
    </div>
        <h3 id='average-rating'> </h3>
    <div id='review-info-bar'>
        <a href='#' onclick="changeReviewDisplay(event)" id='review-count'><h3>
        <p id='review-count-title'> </p> 
        <p id='no-review-title'></p>
        </h3></a>
        <a href='#' onclick="handleButtonClick(event)" id='write-review-link'><h3 id='review-link-title'></h3></a>
    </div>
    <div id='submit-message'>
     <hr/>
        <h3>
            WRITE A REVIEW
        </h3>
        <p id='success-message'> thank you for submitting a review !!</p>
    </div>    

    <div id='form-section'>
    <form>
    <hr/>
        <h3 id='review-form-title'>
            WRITE A REVIEW
        </h3>
        <div id='common-err'></div>
        <label id='name-label'>Name</label>
        <Input type='text' placeholder='Enter your name'  value ='' id='nameInput' autocomplete='off' class='input-box' isRequired=true/>
        <span id='nameErr' class='err'></span>
        <label id='email-label'>Email</label>
        <Input type='text' placeholder='johnsmith@example.com' id='emailInput' value='' autocomplete='off' class='input-box' isRequired=true/>
        <span id='emailErr' class='err'></span>

        <label id='location-label'>Location</label>
        <Input type='text' placeholder='location' id='locationInput' value='' autocomplete='off' class='input-box' isRequired=true/>
        <span id='locationErr' class='err'></span>

        <label id='rating-label'>Rating</label>
         <div class="star-rating">
           <a href="#" class="star" data-rating="1">&#9733;</a>
            <a href="#" class="star" data-rating="2">&#9733;</a>
            <a href="#" class="star" data-rating="3">&#9733;</a>
            <a href="#" class="star" data-rating="4">&#9733;</a>
            <a href="#" class="star" data-rating="5">&#9733;</a>
        </div>
        <span id='ratingErr' class='err'></span>

        <label id='review-title-label'>Review Title</label>
        <Input type='text' placeholder='Give your review a title' id='reviewTitleInput' value='' autocomplete='off' class='input-box' />
        <span id='titleErr' class='err'></span>
        <label id='review-desc-label'>Body of Review (1500)</label>
        <textarea  rows='10'  id='reviewBodyInput' placeholder='Write your comments here' class='input-box' ></textarea>
        <span id='bodyErr' class='err'></span>
        <div id='submit-btn'>
            <button type='submit' onclick="handleSubmit(event,{{productId}},'{{shopName}}','{{productName}}' ,'{{producthandle}}')" class='btn button' ><b id='submit-btn-title'>Submit Review</b></button>
        </div>
    </form>
    </div>


    <div id='review-listing'>
    </div>
    
    <div id='pagination-section'>
      <button onclick="setPrev('{{ shopName }}', '{{ producthandle }}' , event )" id='prev-btn' class='pagination-btn btn button'>Prev</button>
      <input type='number' id='page-number-display' value='1'/>
      <button onclick="setNext('{{ shopName }}', '{{ producthandle }}' , event)" id='next-btn' class='pagination-btn btn button'>Next</button>
    </div>
   
   
</div>
 
  <script src="{{ '../assets/form.js' | asset_url }}">
  
  </script>
  <script>
     document.addEventListener('DOMContentLoaded', function() {
      getOnloadReviewsSetting('{{ shopName }}', '{{producthandle}}' , '{{metaRating}}' ); // Replace with Liquid variables
    });
  </script>


</body>
</html>








{% schema %}
{
  "name": "form",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}